@{
    ViewBag.Title = "Edit Account - Password";
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
}

<head>
    <style>
        footer {
            display: none;
        }

        .Menu {
            display: none;
        }
    </style>
</head>

<div>
    <vc:password-component controller="@ViewBag.Controller" id="@ViewBag.Id"></vc:password-component>
</div>