.Chat header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 32px;
    font-weight: bold;
    background-color: lightgray;
    height: 75px;
    border: 1px solid black;
}

.Content {
    max-height: 780px;
    height: 780px;
    margin-block: 5px;
}

.Message {
    padding: 10px;
    background-color: lightgray;
    border-radius: 5px;
    float: left;
    margin-left: 15px;
}

.MessageBox {
    background-color: lightgray;
    padding: 5px;
    height: 65px;
}

.prompt {
    display: flex;
    height: 35px;
    gap: 10px;
}

    .prompt input {
        flex: 14;
        border: none;
        border-radius: 5px;
    }

    .prompt button {
        flex: 1;
    }
